* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho{
    width: 100%;
}

.cabecalho-topo{
    display: flex;
    background-color: #f05336;
    padding: 1rem 2rem;
}

.logo-img{
    height: 2.7rem;
    width: auto;
    display: block;
}

.cabecalho-logo{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 600;
}

.cabecalho-nav{
    background-color: #d9d9d9;
    padding: 0,8rem 2rem;
}

.nav-lista{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.nav-link{
    text-decoration: none;
    color: #ee4d2d;
    font-size: 1.1rem;
    font-weight: 500;
    display: inline-block;
    padding: 1rem 1.2rem;
    transition: all 0.3s ease;
}

nav a:hover{
    background-color: #bfbfbf;
    color: #333333;
}

.conteudo-principal{
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 1.5rem;
}

.produto-galeria{
    display: flex;
    gap: 1.5rem;
}

.miniaturas{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.foto-principal{
    max-width: 25rem;
    width: 100%;
    height: 26rem;
    display: block;
}

.miniatura{
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    cursor: pointer;
    border: 1px solic #d9d9d9;
}

.ativo{
    border: 2px solid #f3593d;
}

.produto{
    display: flex;
    gap: 2rem;
}

.produto-galeria,
.produto-detalhes{
    width: 50%;
}

.btn-opcao {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.btn-comprar {
    background-color: #f05336;
    color: #ffffff;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: border-color 0.2s ease, transform 0.2s ease;
    align-self: flex-start;
}

.btn-comprar:hover {
    background-color: #d8432a;
}

.btn-opcao:hover {
    border-color: #f05336;
    transform: scale(1.05);
}

.produto-titulo{
    font-size: 1.8rem;
    line-height: 1.3;
}

.produto-preco {
    font-size: 1.6rem;
    font-weight: 600;
    color: #f05336;
}

.produto-detalhes {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.opcoes-butoes{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.opcoes-grupo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}