<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../assets/style.css">
    <title>Produtos</title>
</head>
<body>
    <header class="cabecalho cabecalho-home">
        <div class="cabecalho-topo">
            <div class="logo-container">
                <img src="../assets/img/logo.png" alt="Logotipo Xhopii" class="logo-img">
                <h1 class="cabecalho-logo">Xhopii</h1>
            </div>
            <a href="../view/login.html" class="link-sair">Sair</a>
        </div>
        <nav class="cabecalho-nav">
            <ul class="nav-lista">
                <li><a  href="#" class="nav-link">Home</a></li>
                <li><a  href="#" class="nav-link">Cadastro Cliente</a></li>
                <li><a  href="#" class="nav-link">Cadastro Funcionário</a></li>
                <li><a  href="#" class="nav-link">Cadastro produto</a></li>
                <li><a  href="#" class="nav-link">Ver Clientes</a></li>
                <li><a  href="#" class="nav-link">Ver Funcionários</a></li>
                <li><a  href="#" class="nav-link">Ver Produtos</a></li>
            </ul>
        </nav>        
    </header>
    <main class="conteudo-principal-produtos">
        <section class="produtos-container">
            <h2 class="produtos-titulo-secao">PRODUTOS</h2>
            <div class="produtos-grid">
                <a href="../view/view-product.html" class="produto-card-link">
                    <img src="../assets/img/produto1.png" alt="Camisa Desenvolvedor Front-End CSS" class="produto-img">
                    <h3 class="produto-titulo">Camisa Desenvolvedor Front-End CSS</h3>
                    <p class="produto-fabricante"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                    <p class="produto-descricao"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas.</p>
                    <div class="card-detalhes">
                        <span class="produto-preco">R$ 59,90</span>
                        <span class="produto-qtd">171 disponíveis</span>
                    </div>
                </a>
                <a href="../view/view-product.html" class="produto-card-link">
                    <img src="../assets/img/produto2.png" alt="Camisa Desenvolvedor Front-End CSS" class="produto-img">
                    <h3 class="produto-titulo">Camisa Desenvolvedor Front-End CSS</h3>
                    <p class="produto-fabricante"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                    <p class="produto-descricao"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas.</p>
                    <div class="card-detalhes">
                        <span class="produto-preco">R$ 59,90</span>
                        <span class="produto-qtd">171 disponíveis</span>
                    </div>
                </a>
                <a href="../view/view-product.html" class="produto-card-link">
                    <img src="../assets/img/produto3.png" alt="Camisa Desenvolvedor Front-End CSS" class="produto-img">
                    <h3 class="produto-titulo">Camisa Desenvolvedor Front-End CSS</h3>
                    <p class="produto-fabricante"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                    <p class="produto-descricao"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas.</p>
                    <div class="card-detalhes">
                        <span class="produto-preco">R$ 59,90</span>
                        <span class="produto-qtd">171 disponíveis</span>
                    </div>
                </a>
                <a href="../view/view-product.html" class="produto-card-link">
                    <img src="../assets/img/produto4.png" alt="Camisa Desenvolvedor Front-End CSS" class="produto-img">
                    <h3 class="produto-titulo">Camisa Desenvolvedor Front-End CSS</h3>
                    <p class="produto-fabricante"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                    <p class="produto-descricao"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas.</p>
                    <div class="card-detalhes">
                        <span class="produto-preco">R$ 59,90</span>
                        <span class="produto-qtd">171 disponíveis</span>
                    </div>
                </a>
                <a href="../view/view-product.html" class="produto-card-link">
                    <img src="../assets/img/produto5.png" alt="Camisa Desenvolvedor Front-End CSS" class="produto-img">
                    <h3 class="produto-titulo">Camisa Desenvolvedor Front-End CSS</h3>
                    <p class="produto-fabricante"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                    <p class="produto-descricao"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas.</p>
                    <div class="card-detalhes">
                        <span class="produto-preco">R$ 59,90</span>
                        <span class="produto-qtd">171 disponíveis</span>
                    </div>
                </a>
                <a href="../view/view-product.html" class="produto-card-link">
                    <img src="../assets/img/produto5.png" alt="Camisa Desenvolvedor Front-End CSS" class="produto-img">
                    <h3 class="produto-titulo">Camisa Desenvolvedor Front-End CSS</h3>
                    <p class="produto-fabricante"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                    <p class="produto-descricao"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas.</p>
                    <div class="card-detalhes">
                        <span class="produto-preco">R$ 59,90</span>
                        <span class="produto-qtd">171 disponíveis</span>
                    </div>
                </a>
                <a href="../view/view-product.html" class="produto-card-link">
                    <img src="../assets/img/produto4.png" alt="Camisa Desenvolvedor Front-End CSS" class="produto-img">
                    <h3 class="produto-titulo">Camisa Desenvolvedor Front-End CSS</h3>
                    <p class="produto-fabricante"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                    <p class="produto-descricao"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas.</p>
                    <div class="card-detalhes">
                        <span class="produto-preco">R$ 59,90</span>
                        <span class="produto-qtd">171 disponíveis</span>
                    </div>
                </a>
                <a href="../view/view-product.html" class="produto-card-link">
                    <img src="../assets/img/produto3.png" alt="Camisa Desenvolvedor Front-End CSS" class="produto-img">
                    <h3 class="produto-titulo">Camisa Desenvolvedor Front-End CSS</h3>
                    <p class="produto-fabricante"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                    <p class="produto-descricao"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas.</p>
                    <div class="card-detalhes">
                        <span class="produto-preco">R$ 59,90</span>
                        <span class="produto-qtd">171 disponíveis</span>
                    </div>
                </a>
                <a href="../view/view-product.html" class="produto-card-link">
                    <img src="../assets/img/produto2.png" alt="Camisa Desenvolvedor Front-End CSS" class="produto-img">
                    <h3 class="produto-titulo">Camisa Desenvolvedor Front-End CSS</h3>
                    <p class="produto-fabricante"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                    <p class="produto-descricao"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas.</p>
                    <div class="card-detalhes">
                        <span class="produto-preco">R$ 59,90</span>
                        <span class="produto-qtd">171 disponíveis</span>
                    </div>
                </a>
                <a href="../view/view-product.html" class="produto-card-link">
                    <img src="../assets/img/produto1.png" alt="Camisa Desenvolvedor Front-End CSS" class="produto-img">
                    <h3 class="produto-titulo">Camisa Desenvolvedor Front-End CSS</h3>
                    <p class="produto-fabricante"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                    <p class="produto-descricao"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas.</p>
                    <div class="card-detalhes">
                        <span class="produto-preco">R$ 59,90</span>
                        <span class="produto-qtd">171 disponíveis</span>
                    </div>
                </a>
            </div>    
        </section>
    </main>
</body>
</html>